emulation/Roms/*
emulation/Battery/*
emulation/DeSmuME_X432R_x64.ini
tools/bak/*
research_lvde/tex/out/*
research_lvde/experiments/initial_pokemon_battleing_agent/dqn_starter_battle_*
research_lvde/experiments/**/*.zip
**/__pycache__/
emulation/pokemon-showdown/
research_lvde/data/node_modules/
research_lvde/data/raw_platinum_trainers.json
research_lvde/data/gen4_dex.json
**/package-lock.json